asgiref==3.7.2
boto3==1.28.45
botocore==1.31.45
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.5
django-storages==1.14
idna==3.4
jmespath==1.0.1
lxml==4.9.3
Pillow==9.5.0
python-dateutil==2.8.2
python-decouple==3.8
python-docx==0.8.11
python-pptx==0.6.22
requests==2.31.0
s3transfer==0.6.2
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==1.26.16
XlsxWriter==3.1.3
